POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=tgbot_db
POSTGRES_HOST=postgres

FSM_REDIS_HOST=Optional[<redis fsm host>]
FSM_REDIS_DB=Optional[<redis fsm db number>]
FSM_REDIS_PASS=Optional[<redis fsm password>]

TG_BOT_TOKEN=<tg bot token>
REGISTER_PASSPHRASE=Optional[<tg bot register passphrase>]

CREATOR_ID=Optional[<bot creator's telegram uid>]